<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="card">
        <span>{{dashboardDto.a}}</span>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="card">
          <span>{{dashboardDto.b}}</span>
      </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="card">
          <span>{{dashboardDto.c}}</span>
      </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="card">
          <span>{{dashboardDto.d}}</span>
      </div>
  </div>
</div>

